html {
    font-family: Georgia, "times new roman", times, serif;
    font-size: 32px;
    width: 75%;
    margin: auto;
    color: #222;
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Futura-CondensedMedium", "Helvetica Neue", Arial, Helvetica, sans-serif;
    letter-spacing: -0.05em;
    font-weight: normal;
    margin-bottom: 0;
}

p {
    margin: 0 0 1.5em 0;
}

strong {
    font-family: "Futura-CondensedMedium", "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-weight: normal;
}